
<div class="flex-dad">
  <app-movie class="flex-dad" name="Thor: Love and Thunder" poster="https://m.media-amazon.com/images/I/81xPLSOkvJL._SS500_.jpg" realizeDate="2021"></app-movie>
  <app-movie class="flex-dad" name="I'am Legend" poster="https://resizing.flixster.com/vYsn-bvQtSrZJ3e_4nAdmkG89hA=/206x305/v2/https://flxt.tmsimg.com/assets/p170977_p_v7_ae.jpg" realizeDate="2007"></app-movie>
  <app-movie class="flex-dad" name="The Last: Naruto the Movie " poster="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/bAQ8O5Uw6FedtlCbJTutenzPVKd.jpg" realizeDate="2014"></app-movie>
</div>
