body {
  background: #2d2a2a;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
}

.main-nav_list {
  list-style: none;
  padding: 0;
}

.main-nav_item {
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}

.main-nav_link {
  text-decoration: none;
  color: white;
}

.profile {
  margin: 20px;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 40px;
  text-align: center;
}

.main-block {
  display: flex;
}

.sidebar {
  flex-basis: 20%;
}

.sidebar_list {
  list-style: none;
  padding: 0;
}

.sidebar_item {
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 25px;
  margin: 10px 0;
  padding: 10px 0 10px 20px;
}

.footer {
  background: rgba(0,0,0,0.5);
  color: gray;
  text-align: right;
  line-height: 50px;
  height: 50px;
}
