<div class="movie-box">
  <img [src]="poster" alt="movie-poster" style="max-width: 175px; max-height: 400px">
  <h3 class="movie-title">{{name}}</h3>
  <p class="movie-date">{{realizeDate}}</p>
</div>
