.movie-box {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  text-align: center;
  background: black;
  border-radius: 10px;
}

.movie-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  flex-grow: 1;
}

.movie-date {
  font-size: 24px;
  color: #eccece;
  font-weight: 500;
}
